*{ outline:1px solid rgba(255,0,0,0.5);}
.menu{
	background: #84B4B4 ;
	color: white;
	height: 120px;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
	z-index: 10;
}

.home{
	background-color: #84B4B4;
}
.portada{
	margin-top: 100px;
	background-image: url("img/arcoiris.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}	
.medio{
	font-family: 'Marcellus SC', serif;
	position: relative;
	top: 100px;
	text-align: center;
	font-size: 50px;
	color: black;
	height: 500px;
}
.sub{
	position: relative;
	top: -150px;
	bottom: 1000px;
	text-align: center;
	font-size: 50px;
	color: black;
	height: 50px;
	font-family: 'Luckiest Guy', cursive;

}
.btn{
	width: 170px;
    height: 50px;
    position: relative;
    margin: 50px 20px;
    font-size: 18px;
    background-color:  #97C8D1;
    font-family: 'Luckiest Guy', cursive;
}
.btn:first-child {
	margin-left: 15px;


}
.titulo{
	color: 	#D57B59;
	margin: 0px;
	border-right-style: double;
	border-right-width: 10px;
	font-size: 50px;
	font-family: 'Ruluko', sans-serif;
}
.diferente{
	color: 	white;
	margin: 0px;
	border-right-style: double;
	border-right-width: 10px;
	font-size: 70px;
	font-family: 'Ruluko', sans-serif;

}
.line{
	margin: 0px;
	padding: 0px;

}
.hobbies{
	margin-left: 30px;
}
.yo{
	width: 180px;
	border-radius: 25px;
}
.presen{
	font-size: 20px;
	color: #D57B59;
	margin-top: 20px;
	margin-bottom: 30px;
}
.rosa{
	color: #D57B59;

}
.trabajos{
	font-size: 20px;
	color: black;
	margin-top: 20px;
	margin-bottom: 30px;

}
.blanco{
	color: white;
}

#sobremi{
	font-size: 20px;
	background-color: #D8D3C0;
	padding: 35px 0px;
}
#proyectos{ 
	font-size: 20px;
	background-color: #D57B59;
	padding: 35px 30px;

}
.misproyect{
	list-style: none;
	padding-top: 30px;

}
.work{
	text-align: center;
	margin-top: 15px;

}


.work:hover
{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}
.trabajos{
	color: white;
}

#conocimientos{

	font-size: 20px;
	background-color: #D8D3C0;
	padding: 80px 40px;

	

}
.learn{
	font-size: 20px;
	color: #D57B59;
	margin-top: 50px;
	margin-bottom: 30px;
}
.habilidades{
	list-style: none;
}
.hb{
	text-align: center;

}
#contacto{

	font-size: 20px;
	background-color: 	#3D3D3D;
	

}
.contact{
	margin: 30px 0px;
	
	list-style: none;
}
.primero{
	width: 300px;
	height: 270px;

}
.segundo{
	width: 130px;
	height: 170px;
	margin-top: 35px;
}
.segundo:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}
.mujer{
	width: 200px;
	margin: 30px 0px;
	text-align: center;

}
.tercero{
	width: 120px;
	height: 150px;
	margin-top: 30px;
	margin-left: 18px;
}

.tercero:hover
{
	background: #84B4B4;
}
.borde{
	height: 210px;
	width: 190px;
	background-color: #D57B59;
	border:1px solid #D57B59; 
	border-radius: 50%;
	display: inline-block;
	margin-left:40px; 
	margin-right: 0px;
}
.social{
	color: white;
	text-align: center;
	width: 150px;
	font-size: 15px;
	margin-top: 50px;

}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ##84B4B4;
}


@media(max-width: 750px){
	header{height: 100vh;} 
.work{
margin-left: -50px;
}



.navbar-default .navbar-nav > li > a {
  color: #84B4B4; }

.navbar-default .navbar-nav > li > a:hover {
  color: black; }

